{% extends "base-developer.html" %}
{% set title = "Home" %}
{% block script %}
{% endblock %}
{% block secondary_nav %}
{% endblock %}
{% block content %}
<table border="0" width="100%" class="columns">
<tbody>
<tr>
<td valign="top" class="left-column" style="padding:0px;padding-left:12px">
<table width="100%">
<tbody>
<tr>
<td><h2>SOMETHING SOMETHING</h2></td>
</tr>
</tbody>
</table>
<table cellspacing="0" class="dataList">
<tbody>
<tr class="listHeader">
<td colspan="4" align="center">&nbsp;</td>
</tr>
<tr class="tableRowOdd">
<td style="padding:9px;vertical-align:middle;"><img src="/images/ico-notepad.png" /></td>
<td style="vertical-align:middle;"><a href="/sales/proposal/-1">Add a New User</a></td>
<td style="vertical-align:middle;"></td>
</tr>
<tr class="tableRowEven">
<td style="padding:9px;vertical-align:middle;"><img src="/images/ico-man.png" /></td>
<td style="vertical-align:middle;"><a href="/customer_detail?customerId=-1">Start Application Process</a></td>
<td style="vertical-align:middle;"></td>
</tr>
</tbody>
</table>            </td>
<td style="padding:8px;" width="8">&nbsp;</td>
<td valign="top" width="400" class="right-column" align="right" style="padding:0px;padding-right:12px;">
<div id="home_message_center"></div>
<div id="recent_transactions">
<table width="100%">
<tbody>
<tr>
<td><h2>Sandbox Status</h2></td>
</tr>
</tbody>
</table>
<table cellspacing="0" class="dataList">
<tbody>
<tr class="listHeader">
<td colspan="4" align="center">&nbsp;</td>
</tr>
<tr class="tableRowOdd">
<td style="padding:9px;vertical-align:middle;"><img src="/images/ico-notepad.png" /></td>
<td style="vertical-align:middle;"><a href="/sales/proposal/-1">API ONLINE</a></td>
<td style="vertical-align:middle;"></td>
</tr>
<tr class="tableRowEven">
<td style="padding:9px;vertical-align:middle;"><img src="/images/ico-man.png" /></td>
<td style="vertical-align:middle;"><a href="/customer_detail?customerId=-1">FS 1 ONLINE</a></td>
<td style="vertical-align:middle;"></td>
</tr>
<tr class="tableRowOdd">
<td style="padding:9px;vertical-align:middle;"><img src="/images/ico-man.png" /></td>
<td style="vertical-align:middle;"><a href="/customer_detail?customerId=-1">FS 2 ONLINE</a></td>
<td style="vertical-align:middle;"></td>
</tr>
<tr class="tableRowEven">
<td style="padding:9px;vertical-align:middle;"><img src="/images/ico-man.png" /></td>
<td style="vertical-align:middle;"><a href="/customer_detail?customerId=-1">WEB ONLINE</a></td>
<td style="vertical-align:middle;"></td>
</tr>
</tbody>
</table>
</div>
<br/>
<div id="recent_transactions">
<table width="100%">
<tbody>
<tr>
<td><h2>Thing 1</h2></td>
</tr>
</tbody>
</table>
<table cellspacing="0" class="dataList">
<tbody>
<tr class="listHeader">
<td colspan="4" align="center">&nbsp;</td>
</tr>
<tr class="tableRowOdd">
<td style="padding:9px;vertical-align:middle;"><img src="/images/ico-notepad.png" /></td>
<td style="vertical-align:middle;"><a href="/sales/proposal/-1">Thing 2</a></td>
<td style="vertical-align:middle;"></td>
</tr>
<tr class="tableRowEven">
<td style="padding:9px;vertical-align:middle;"><img src="/images/ico-man.png" /></td>
<td style="vertical-align:middle;"><a href="/customer_detail?customerId=-1">Thing 3</a></td>
<td style="vertical-align:middle;"></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
{% endblock %}
