{% extends "base-developer.html" %}
{% set title = "Users" %}
{% block script %}
        <script type="text/javascript">
            $(document).ready
            (
                function ()
                {
                    console.debug('hi');
                    var on_select_row = function(id)
                    {
                        console.log(id);
                        window.location='/developer/user/' + id;
                    };

                    $('#users_grid').jqGrid
                    (
                        {
                            colNames: ['User', 'Type'],
                            colModel:
                            [
                                {name:'name', index: 'name', width: 500},
                                {name:'type', index: 'type', width: 200}
                            ],
                            rowNum: 10,
                            viewrecords: true,
                            gridview: true,
                            caption: '{{ self.title() }}',
                            onSelectRow: on_select_row,
                            pager: '#users_pager',
                        }
                    );
                    $('#users_grid').addRowData('1', {name: 'Bob Heise', type:'Normal'});
                    $('#users_grid').addRowData('3', {name: 'Correl Roush', type:'Normal'});
                    $('#users_grid').addRowData('2', {name: 'Ed smola', type:'Normal'});
                    $('#users_grid').addRowData('6', {name: 'John Steele', type: 'Normal'});
                    $('#users_grid').addRowData('4', {name: 'Mike King', type:'Admin'});
                    $('#users_grid').addRowData('5', {name: 'Richard Ricardo', type: 'Normal'});
                }
            );
        </script>
{% endblock %}
{% block content %}
    <h1>{{ self.title() }}</h1>
    <table id="users_grid"></table>
    <div id="users_pager"></div> 
    <button name="new_user" type="submit" onClick="window.location='/developer/user/0'; return false;">Create New User</button>
    <button name="logout" type="submit" onClick="window.location='/'; return false;">Log Out</button>
{% endblock %}
