{% extends "base-developer.html" %}
{% set title = "Application Detail" %}
{% block style %}
<style type="text/css">
    .stat { color: #C0C0C0;}
    .stat_bold { color: #000000; font-weight: bold;}
</style>
{% endblock %}
{% block script %}
        <script type="text/javascript">
            $(document).ready
            (
                function ()
                {
                    console.debug('hi');
                    $('#msp_comments').prop('readonly', true);
                    $('#app_key').prop('readonly', true);
                    {% if app_id == 0 %}
                        {# New #}
                        $('#app_status').val('Draft');
                        $('#status_draft').addClass('stat_bold');
                        $('#app_name').val('');
                        $('#app_desc').val('');
                        $('#app_key').val('');
                        $('#msp_comments').val('');
                        $('#conf_grid').hide();
                    {% elif app_id == 1 %}
                        {# Draft #}
                        $('#app_status').val('Draft');
                        $('#status_draft').addClass('stat_bold');
                        $('#app_key').val('');
                        $('#msp_comments').val('');
                        $('#conf_grid').hide();
                    {% elif app_id == 2 %}
                        {# Conceptual Review #}
                        $('#app_status').val('Conceptual Review');
                        $('#status_concept').addClass('stat_bold');
                        $('#app_key').val('');
                        $('#msp_comments').val('');
                        $('#conf_grid').hide();
                        $('#draft_button').attr('disabled', true);
                        $('#review_button').attr('disabled', true);
                        $('#save_button').attr('disabled', true);

                    {% elif app_id == 3 %}
                        {# Under Development #}
                        $('#status_develop').addClass('stat_bold');
                        $('#app_status').val('Under Development');
                        $('#draft_button').attr('disable', true);
                        $('#review_button').attr('disable', true);
                    {% elif app_id == 4 %}
                        {# Final Review #}
                        $('#status_final').addClass('stat_bold');
                        $('#app_status').val('Final Review');
                        $('#draft_button').hide();
                        $('#review_button').hide();
                        $('#save_button').hide();
                    {% elif app_id == 5 %}
                        {# Published #}
                        $('#status_published').addClass('stat_bold');
                        $('#app_status').val('Published');
                        $('#review_button').attr('disabled', true);
                    {% endif %}

                    $('#conf_grid').jqGrid
                    (
                        {
                            colNames: ['Key', 'Default Value'],
                            colModel:
                            [
                                {name:'name', index: 'name', width: 500, editable: true, edittype: 'text'},
                                {name:'value', index: 'value', width: 200, editable: true, edittype: 'text'},
                            ],
                            rowNum: 10,
                            viewrecords: true,
                            gridview: true,
                            caption: 'Configuration',
                            //onSelectRow: on_select_row,
                            cellEdit: true,
                            cellsubmit: 'clientArray',
                            pager: '#conf_pager',
                        }
                    );
                    $('#conf_grid').addRowData('1', {name: 'logo_url', value:'http://www.coredial.com/images/logo.png'});
                    $("#conf_grid").navGrid
                    (
                        '#conf_pager',
                        {
                            view: false,
                            del: true,
                            edit: true,
                        },
                        {},//edit
                        {},//add
                        {},//del
                        {},//search
                        {}//view
                    );
                }
            );
        </script>
{% endblock %}
{% block content %}
            <form>
                <h1>{{ self.title() }}</h1>
                <div>
                    <span>Status: </span>
                    <span id="status_draft" class="stat">Draft</span>
                    <span id="status_concept" class="stat"> >>> Conceptual Review</span>
                    <span id="status_develop" class="stat"> >>> Under Development</span>
                    <span id="status_final" class="stat"> >>> Final Review</span>
                    <span id="status_published" class="stat"> >>> Published</span>
                </div>
                <label for="app_name">Application Name: </label><input id="app_name" name="app_name" type="text" value="Microsoft Exchange Plugin"/><br/>
                <label for="app_desc">Application Description: </label>
                <textarea id="app_desc" name="app_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea><br/>
                <label for="msp_comments">Comments: </label>
                <textarea id="msp_comments" name="msp_comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea><br/>
                <label for="app_name">Application Key: </label><input id="app_key" name="app_key" type="text" value="fgihjiofulhjgoildrufthjtglokuedrtsrdgfhu"/><br/>
                {% if app_id >= 3 %}
                    <h3>Application Configuration</h3>
                    <table id="conf_grid"></table>
                    <div id="conf_pager"></div>
                {% endif %}
                <button id="back_button" type="submit" onClick="window.location='/developer/apps/'; return false;">Back</button>
                <button id="save_button" type="submit" onClick="window.location='/developer/apps/'; return false;">Save</button>
                <button id="review_button" type="submit" onClick="window.location='/developer/apps/'; return false;">Submit for Review</button>
            </form>
        </div>
{% endblock %}
